backup/

dataset/

/*.err
/*.out

/*.json
/*.xlsx

model_parameter/

temp/

midtemp/

.vscode/

lavis/output/

__pycache__/

handle_caption/*.json

handle_caption/test/

vit/output*/

/.idea

*.tar.gz

classified_json_output/

inference_results_from_classified_json/

*mask*/

slurm_output/
*results.json

MMTT_Upload_Staging/

dff_now/

certificate.pem

# Legacy files
legacy/

results/